table{
  width: 100%;
}
.mat-elevation-z8{
  box-sizing: border-box;
}

mat-icon:hover{
  color: #dc3545;
  cursor: pointer;
  transform: scale(2,2);
}

.activeclass{
  transform: scale(1.5, 1.5);
  color: #dc3545;
}

.neactiveclass{
  transform: scale(1, 1);
  color: #dc3545;

}




